*{
    padding: 0;
    margin: 0;
}
.Homepage_container{
    height: auto;
}
.navbar{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin:auto;
    height: 70px;
    margin-top: 30px;
    font-family: Arial;
}
.nav-left{
    width: 50%;
    padding: 10px;

}
.nav-right{   
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
    font-weight: bold;
}
.HomeBackground{
    background-image: url(https://static.vecteezy.com/system/resources/previews/007/213/032/original/graphics-design-illustration-digital-circuit-with-binary-coded-decimal-diagram-technology-for-background-wallpaper-illustration-free-vector.jpg);
    display: flex;
    justify-content: space-around;
    height: 600px;
}
.Home{
    width: 70%;
    /* border: 2px solid green; */
    text-align: center;
    height: 100%;
}
.Home div{
    color: white;
    padding-top: 150px;
}

.Home div h1 {
    font-size: 74px;
}

.Home div h3 {
    font-size: 44px;
}

#About{
    /* border: 2px solid red; */
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    height: 480px;
    box-shadow: 0px 0px 4px gray;
}
.about-left{
    display: flex;
    justify-content: space-between;
    width: 46%;
    height: 60%;
    margin-top: 80px;
}
.about-left>div:nth-child(1){
    width: 36%;
}
.about-left>div:nth-child(1)>img{
    width: 100%; 
    height: 200px;
}
.about-left>div:nth-child(2){
    width: 59%;
}
.about-left>div:nth-child(2)>p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 19px;
}

.about-right{
    width: 46%;
    height: 350px;
    margin-top: 80px;
}
.about-right>div>h1{
    border-bottom: 2px solid #0078ff;
    width: 150px;
    padding-bottom: 10px;
}
.about-right hr{
    width: 100px;
    height: 4px;
    background-color: #0078ff;
}
.about-right p{
    color: #8988a9; 
    font-size: 22px; 
    margin-top: 25px;
}
.resume{
    margin-top: 25px;
    color: white;
    background-color: #0078ff;
    border-radius: 0px;
    border: none;
    height: 40px;
    width: 150px;
    font-size:20px ;
}
.icons{
    /* border: 2px solid red; */
    display:  flex;
    justify-content: space-between;
    width: 120px;
    padding: 10px;

}
.icons a{
    margin-top: 10px;
    border: 3px solid #0078ff;
    border-radius: 50%;
    padding: 10px;
}
.icons a:hover{
    background-color:#0078ff ;
    color: white;
    border: 4px solid rgb(197, 195, 195);
}
#Skills{
    width: 75%;
    margin: auto;
    height: 930px;
}
.header{
    padding: 60px;
    font-size: 25px;
    text-align: center;
}
.project_header{
    padding: 60px;
    font-size: 25px;
    text-align: center;
}
.project_header>h1{
    width: 260px;
    border-bottom: 2px solid #0078ff;
    padding-bottom: 10px;
    margin: auto;
}
.header>h1{
    width: 170px;
    border-bottom: 2px solid #0078ff;
    padding-bottom: 10px;
    margin: auto;
}
.img-skills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 730px;
}
.images{
    /* border: 2px solid black; */
    width: 30%;
    margin-bottom: 50px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
}
.images>div:nth-child(1){
    height: 150px;
    width: 50%;
    margin:auto;
    margin-top: 40px;
}
.images>div:nth-child(1)>img{
    width: 100%;
    height: 100%;
}
.skills-name{
    margin: 30px;
    text-align: center;
}


#project_container{
    width: 75%;
    height: auto;
    margin: auto;
}
.projects{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
}
.projects>div{
    border: 2px solid rgb(234, 234, 234);
    width: 32%;
    height: 420px;
    margin-bottom: 30px;
}
.projects>div>div:nth-child(1){
    width: 100%;
    height: 180px;
}
.projects>div>div:nth-child(1)>img{
    width: 100%;
    height: 100%;
}
.projects>div>div:nth-child(3){
    margin-top: 10px;
    width: 100px;
    display: flex;
    padding-left: 20px;
}
.project_desc{
    width: 88%;
    padding: 20px;
    height: 120px;
}
.project_desc>p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
}
.project_desc>p:nth-child(2){
    font-size: 15px;
    color: gray;
    font-weight: 500;
    margin-top: 10px;
}
.project_desc>p:nth-child(3){
    font-size: 15px;
    color: #0182eb;
    font-weight: 500;
    margin-top: 10px;
}
#contact_container{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
    background-image: url(https://st2.depositphotos.com/2124221/46127/i/450/depositphotos_461279104-stock-photo-abstract-geometric-background-poly-pattern.jpg);
    background-repeat: no-repeat;
  background-size: cover;
}
#contact_container>div{
    width: 75%;
    height: 400px;
    margin: auto;
    background-color: white;
    color: black;
    padding-top: 50px;
}
#contact_container>div>p:nth-child(1){
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid #0078ff;
    padding-bottom: 10px;
    width: 230px;
    margin: auto;
    margin-bottom: 30px;
}
.Detailcontact{
    width: 30%;
    margin: auto;
}
.Detailcontact>div{
    display: flex;
    margin-top: 20px;
    font-size: 20px;
}
.Detailcontact>div>p:nth-child(2){
    margin-left: 10px;
}